/* fonts */


@font-face {
    font-family:"Always";
    src:
        url("./assets/Always/AlwaysRegular.eot") format("eot"),
        url("./assets/Always/AlwaysRegular.woff") format("woff"),
        url("./assets/Always/AlwaysRegular.ttf") format("truetype"),
        url("./assets/Always/AlwaysRegular.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* colores */
:root {
    --main-rosa-color: #e1d0d1;
    --main-azul-color: #637077;
    --main-marron-color: #ba7b4c;
    --main-crema-color: #fffcf7;
    --main-celeste-color: #8fa8af;
}

/* resets */
* {
    margin: 0;
    padding: 1%;
}

body {
    background-color: var(--main-rosa-color);
    color: var(--main-azul-color);
}

p,li,button {
    font-family: 'Poppins', sans-serif;
}

/* header */
h1 {
    font-family: 'Always';
    font-size: 1.7em;
}

header {
    display: flex;
    align-content: space-between;
    background-color: var(--main-crema-color);
    padding: 2%;
}

header a {
    text-decoration: none;
    color: var(--main-azul-color);
    font-size: 1.7em;
}

.menu {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-crema-color);
    min-width: 160px;
    padding: 12px 16px;
    z-index: 5;
    top: 35px;
    right: -7px;
}

.menu:hover .dropdown {
    display: block;
}

.dropdown li {
    list-style: none;
}

/* cuerpo */
.description {
    margin-top: 5%;
}

main {
    display: flex;
    flex-direction: column;
    width: 85%;
    text-align: center;
    margin: auto;
}

main img {
    height: 250px;
}

/* producto */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
    border: 2px solid var(--main-crema-color);
    padding: 3%;
}

.imgContainer {
    position: relative;
}

.imgContainer .heart {
    position: absolute;
    right: 25%;
    font-size: 1.3em;
}

.product button {
    margin: 5% 0;
    width: 90%;
    background-color: var(--main-marron-color);
    border-radius: 15px;
    border: 2px solid var(--main-crema-color);
    cursor: pointer;
    padding: 4% 15%;
}

.product button:hover {
    background-color: var(--main-crema-color);
}

.product button a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--main-crema-color);
}

